.container
  .row.u-margin-top-lg.u-margin-bottom-xl
    .col-md-12
      %h1 What to expect
      %p Commit is a 24-hour virtual experience, enabling participants in any time zone to participate in eight different content tracks. Speakers from Google, Microsoft, T-Mobile, VMware, State Farm, U.S. Air Force, and others will come together to help you achieve DevOps success. Content tracks will include panels, demos, thought leader presentations. You'll have the opportunity to earn a GitLab certification, interact with partners, speak with DevOps leaders in Q&As, and receive exclusive swag.
      %p Commit is focused on providing practical advice and strategies from people just like you who are trying to get the most out of DevOps, and their day-to-day workflows. Get ready for an intense learning and networking event that'll help you commit to better DevOps. Take a look at the recaps of our first two Commit user conferences below, and register now to belong to a community of individuals leading digital transformation. 
      .col-md-5.column-register.text-center.u-margin-top-sm{ style: "background-attachment: fixed; background: url('/images/events/gitlab-commit/gitlab-commit-brooklyn-logo-date-image_2x.jpg') center center no-repeat; background-size: cover; border-radius: 8px;" }
        %a.btn.cta-btn.orange{ href: "/events/commit/brooklyn/" }Recap
      .col-md-5.col-md-offset-2.column-register.text-center.u-margin-top-sm{ style: "background-attachment: fixed; background: url('/images/events/gitlab-commit/gitlab-commit-london-logo-date-image_2x.jpg') center center no-repeat; background-size: cover; border-radius: 8px;" }
        %a.btn.cta-btn.orange{ href: "/events/commit/london/" }Recap
