
- title = 'Case Studies'
- subtitle = 'An example of what a default carousel content is'
- items = [get_carousel_item('"GitLab is vastly outpacing SCM competitors such as Bitbucket."', 
            "https://about.gitlab.com/customers/EAB/", 
            "/images/devops-tools/casestudy-thumbnails/eab.png", 
            "pdf"), get_carousel_item('"Our team develops software, and we are also flying spacecraft."', 
            "https://about.gitlab.com/customers/european-space-agency/", 
            "/images/devops-tools/casestudy-thumbnails/esa.png", 
            "pdf"), get_carousel_item('"GitLab offered the most advanced feature set on the market."', 
            "https://about.gitlab.com/customers/axway/", 
            "/images/devops-tools/casestudy-thumbnails/axway.png", 
            "pdf"),]
= partial('includes/devops-tools/carousel/index.html.haml', :locals => { :title => title, :subtitle => subtitle, :items => items })
